[Desktop Entry]
Type=Application
Exec=xbindkeys -f ~/.xbindkeysrc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=keys
Name=keys
Comment[en_US]=pasar escritorios con el mouse
Comment=pasar escritorios con el mouse
